.navbarWrapperContent {
    width: 165px;
    padding-top: .4em;
    margin-right: 1.5em;
    z-index: 1;
}

li{
    margin-bottom: .5em;
}

li:hover{
    background-color: #E1E5EB;
    border-radius: 5px;
}

li a{
    padding-left: 1.4em;
}

li a:focus{
    outline: none;
    opacity: .5;
}

li span{
    font-size: 1.4em;
    font-weight: 500;
    color: #496D86;
    vertical-align: super;
    margin-left: .7em;
}

.nav-icon{
    width: 1.6em;
    height: 1.4em;
}
